.App {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
